@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  color: #4c4944;
  background-color: #f1eee9;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

.header {
  background-color: #666666;
  padding: 3rem 0;
  width: 100;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-search {
  align-self: center;
  display: flex;
}
.header-search-input {
  width: 70%;
  height: 100%;
  font-size: 2rem;
  padding: 0.5rem;
}
.header-search-btn {
  background-color: #ea8426;
  border: none;
  width: 20%;
  height: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
}
.header-search-btn-img {
  width: 2.5rem;
}

.navigation {
  background-color: #ffffff;
  padding: 2rem;
  font-size: 2.4rem;
}
.navigation-wrapper {
  position: relative;
}
.navigation-link:link, .navigation-link:visited {
  color: #4c4944;
  text-decoration: none;
  margin-right: 4rem;
}
.navigation-link:hover, .navigation-link:active {
  color: #ea8426;
}
.navigation .check-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.navigation .check-wrapper .check-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;
  font-size: 1.8rem;
}
.navigation .check-wrapper input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3rem;
  height: 3rem;
  border: 1px solid #4c4944;
  margin: 0;
}
.navigation .check-wrapper input[type=checkbox] {
  display: grid;
  place-content: center;
}
.navigation .check-wrapper input[type=checkbox]::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  transform: scale(0);
  transition: 0.05s transform ease-in-out;
  box-shadow: inset 3rem 3rem #ea8426;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.navigation .check-wrapper input[type=checkbox]:checked::before {
  transform: scale(1);
}

.home-container {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
}

.section-heading {
  border-bottom: 1.5px solid #ea8426;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.item {
  width: 23rem;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem;
  animation: fadeIn ease-in-out 0.5s;
}
.item-img {
  width: 22rem;
  aspect-ratio: 6/9;
}
.item-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 10rem;
  padding-top: 1rem;
}
.item-heading {
  text-align: center;
  font-size: 1.6rem;
  height: 4rem;
  overflow-y: scroll;
}
.item-heading::-webkit-scrollbar {
  display: none;
}
.item-rating-reviews {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
  font-weight: 600;
  border-top: 2px solid #f1eee9;
}
.item-rating {
  border-right: 2px solid #f1eee9;
  padding-top: 1rem;
}
.item-reviews {
  padding-top: 1rem;
  padding-left: 1rem;
}

.categories {
  width: 20rem;
}
.categories-heading {
  border-bottom: 2.5px solid #4c4944;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.categories-list-item-all {
  list-style: none;
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 600;
}
.categories-list {
  list-style: none;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}
.categories-list-item {
  padding: 1rem 0;
  cursor: pointer;
}

.books-container {
  display: flex;
  gap: 5rem;
  display: none;
}
.books-container .all-books {
  width: 80rem;
}
.books-container .all-books-item {
  width: 17.1rem;
}
.books-container .all-books-img {
  width: 17.1rem;
}

.book-container {
  position: relative;
  animation: fadeIn ease-in-out 0.2s;
}
.book-container .book-info-and-img {
  padding: 4rem 0;
  display: flex;
  gap: 5rem;
}
.book-container .book-info-and-img .book-img {
  width: 30rem;
  aspect-ratio: 6/9;
}
.book-container .book-info-and-img .book-info {
  width: 100%;
}
.book-container .book-info-and-img .book-info-title {
  display: block;
  padding-top: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #4c4944;
  font-size: 3.6rem;
}
.book-container .book-info-and-img .book-info-wrapper {
  display: flex;
  gap: 3rem;
}
.book-container .book-info-and-img .book-info-item-1 {
  padding: 1rem 0;
  text-transform: uppercase;
  height: 5rem;
}
.book-container .book-info-and-img .book-info-item-2 {
  text-transform: capitalize;
  padding: 1rem 0;
  height: 5rem;
  overflow-y: scroll;
}
.book-container .book-info-and-img .book-info-item-2::-webkit-scrollbar {
  display: none;
}
.book-container .book-info-and-img .book-info-item-2-rating {
  display: inline-block;
  text-align: center;
  background-color: #ea8426;
  color: #ffffff;
  padding: 1rem 2rem;
  width: 8.6rem;
}
.book-container .book-description-heading {
  margin-bottom: 2.4rem;
  font-size: 2.6rem;
  border-bottom: 1px solid #4c4944;
  font-weight: 600;
}
.book-container .book-description-text {
  margin-bottom: 4rem;
  line-height: 1.5;
}
.book-container .back-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: #4c4944;
  color: #ffffff;
  cursor: pointer;
}
.book-container .back-button :hover {
  background-color: #666666;
}

.wrong-input-text {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.footer {
  height: 10rem;
  background-color: #666666;
}/*# sourceMappingURL=style.css.map */