//Colors
$color-header-footer: #666666;
$color-orange-detail: #ea8426;
$color-background-body: #f1eee9;
$color-navigation: #ffffff;
$color-text: #4c4944;
$color-text-white: #ffffff;
$color-book-cards: #ffffff;

//Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  color: $color-text;
  background-color: $color-background-body;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

.header {
  background-color: $color-header-footer;
  padding: 3rem 0;
  width: 100;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-search {
    align-self: center;
    display: flex;
    &-input {
      width: 70%;
      height: 100%;
      font-size: 2rem;
      padding: 0.5rem;
    }

    &-btn {
      background-color: $color-orange-detail;
      border: none;
      width: 20%;
      height: 100%;

      padding: 0.5rem 0;
      cursor: pointer;

      &-img {
        width: 2.5rem;
      }
    }
  }
}

////NAVIGATION
.navigation {
  background-color: $color-navigation;
  padding: 2rem;
  font-size: 2.4rem;

  &-wrapper {
    position: relative;
  }

  &-link {
    &:link,
    &:visited {
      color: $color-text;
      text-decoration: none;
      margin-right: 4rem;
    }

    &:hover,
    &:active {
      color: $color-orange-detail;
    }
  }

  //checkbox
  .check-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    .check-text {
      display: flex;
      align-items: center;
      gap: 2rem;

      margin-right: 1rem;
      font-size: 1.8rem;
    }

    input[type='checkbox'] {
      appearance: none;
      width: 3rem;
      height: 3rem;
      border: 1px solid $color-text;
      margin: 0;
    }

    input[type='checkbox'] {
      display: grid;
      place-content: center;
    }

    input[type='checkbox']::before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      transform: scale(0);
      transition: 0.05s transform ease-in-out;
      box-shadow: inset 3rem 3rem $color-orange-detail;

      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    input[type='checkbox']:checked::before {
      transform: scale(1);
    }
  }
}

////HOME
.home-container {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
}
.section-heading {
  border-bottom: 1.5px solid $color-orange-detail;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.item {
  width: 23rem;
  background-color: $color-book-cards;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem;
  animation: fadeIn ease-in-out 0.5s;

  &-img {
    width: 22rem;
    aspect-ratio: 6 / 9;
  }

  &-info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 10rem;
    padding-top: 1rem;
  }
  &-heading {
    text-align: center;
    font-size: 1.6rem;
    height: 4rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-rating-reviews {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
    font-weight: 600;
    border-top: 2px solid $color-background-body;
  }

  &-rating {
    padding-top: 1rem;
  }

  &-reviews {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

////BOOKS
.categories {
  width: 20rem;

  &-heading {
    border-bottom: 2.5px solid $color-text;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  &-list-item-all {
    list-style: none;
    padding: 1rem 0;
    cursor: pointer;
    font-weight: 600;
  }

  &-list {
    list-style: none;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;

    &-item {
      padding: 1rem 0;
      cursor: pointer;
    }
  }
}

.books-container {
  display: flex;
  gap: 5rem;
  display: none;

  .all-books {
    width: 80rem;
  }

  .all-books-item {
    width: 17.1rem;
  }
}

//Book
.book-container {
  position: relative;
  animation: fadeIn ease-in-out 0.2s;

  .book-info-and-img {
    padding: 4rem 0;
    display: flex;
    gap: 5rem;

    .book-img {
      width: 30rem;
      aspect-ratio: 6 / 9;
    }

    .book-info {
      width: 100%;
      &-title {
        display: block;
        padding-top: 2rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid $color-text;
        font-size: 3.6rem;
      }

      &-wrapper {
        display: flex;
        gap: 3rem;
      }

      &-item-1 {
        padding: 1rem 0;
        text-transform: uppercase;
        height: 5rem;
      }

      &-item-2 {
        text-transform: capitalize;
        padding: 1rem 0;
        height: 5rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        &-rating {
          display: inline-block;
          text-align: center;
          background-color: $color-orange-detail;
          color: $color-text-white;
          padding: 1rem 2rem;
          width: 8.6rem;
        }
      }
    }
  }

  .book-description {
    &-heading {
      margin-bottom: 2.4rem;
      font-size: 2.6rem;
      border-bottom: 1px solid $color-text;
      font-weight: 600;
    }

    &-text {
      margin-bottom: 4rem;
      line-height: 1.5;
    }
  }

  .back-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    background-color: $color-text;
    color: $color-text-white;
    cursor: pointer;

    :hover {
      background-color: $color-header-footer;
    }
  }
}

.wrong-input {
  &-text {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
}

.footer {
  height: 10rem;
  background-color: $color-header-footer;
}
